*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.main{
  width: 100%;
  min-height: 100vh;
  background-color: aqua;
}
.container{
  /* height: 500px; */
  width: 368px;
  /* background-color: blue; */
  margin: auto;
  padding: 20px;
  
}
.input-box{
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  overflow: hidden;
  padding: 2px;
  box-shadow: 1px 1px 2px black;
}
input{
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 30px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  outline: none;
  padding: 0 10px;
  box-shadow: 1px 1px 2px black inset;
  
}
button {
  box-shadow: 1px 0px 2px black inset;
  height: 100%;
  width: 100px;
  border-radius: 30px;
  border: none;
  background-color: rgb(11, 114, 19);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 14px;
  font-weight: 600;
  color: rgb(212, 255, 0);
  cursor: pointer;
}
.tasks{
  min-height: 200px;
  width: 100%;
  /* background-color: blue; */
  /* border-radius: 30px; */
  margin-top: 20px;
  /* padding: 10px; */
}
/* .task{
  width: 100%;
  padding: 7px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid green;
  border-radius: 4px;
} */
.circle{
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
}
ul{
  list-style: none;
  position: relative;
}
li::before{
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 2px solid black;
  z-index: 2;
  position: absolute;
  left: 0;
}

li{
  padding: 5px 25px;
  /* padding-left: 25px; */
  cursor: pointer;
  /* background-color: green; */
  position: relative;
  border-bottom: 1px solid gray;
  margin-bottom: 2px;
}
li.checked::before {
  
  background-image: url(./check.png);
  background-color: white;
  background-size: cover;
  background-position: center;
}
span{
  height: 22px;
  width: 22px;
  background-image: url(./bin.png);
  background-size: contain;
  background-position: center;
  position: absolute;
  bottom: 5px;
  right: 5px;
  border: 1px solid red;
  border-top: none;
  border-radius: 2px;
}

h3 {
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  display: flex;
  gap: 5px;
  padding-left: 10px;
  margin: 7px 0;
  color: red;
}
.todo{
  display: flex;
  align-items: center;
  color: green;
  gap: 10px;
  justify-content: center;
  padding-top: 20px;
}
.todo img {
  height: 30px;
  width: 30px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}
@media (max-width: 390px) {
  .container{
    width: 291px;
  }
}